input[type="text"], textarea {
  		background-color : #5cb85c; 
		}
#mytext p{
		font-size:14px;   
		line-height: 1.5;  
		text-align: justify; 
		margin-left: 2%;
		
}
.progress {
  background: black;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  float: right;
  display: flex;
  height: 50px;
  width: 200px;
  margin: 1%;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: green;
  height: 30px;
  width: 0;
}
#top{
	width: 60rem; 
	margin: 0; 
	margin-left: 30%; 
	float: auto; 
	background-color: #5cb85c;
}
#myform card-body{
	width: 50rem;
	margin: 0 auto; 
	float: none;  
	margin-top: 0%
}
label{
	color: white; 
	font-size: 18px; 
	text-align: center; 
	margin-left: 10%
}
#txt{
	display: none;
}
#tweet{
	width: 50rem;
	text-align: center;
	margin: 10%;
}
#ip{
	display: none;
	background-color: #5cb85c;
}
.in{
	display: none; 
	background-color: #5cb85c;
}
#tweet p{
	color: white; 
	font-size: 22px; 
	padding-top: 5%;
}
label{
	color: white; 
	font-size: 18px; 
	text-align: center;

}
@media (max-width:410px)  { #top{width: 85%;
				margin-left: 5%; } 
	                    #tweet{width: 85%}}
			



